@model AuthModel

<div class="container">
<h1>Авторизация</h1>
<br /><br />
<form asp-controller="Auth" asp-action="Login" method="post">
    <div class="col-md-5">
        <p>
        <label class="col-md-2">Логин</label>
        <input asp-for="@Model.Login" />
        <span style="color:red" asp-validation-for="Login"></span>
        </p>
    </div>
    <div class="col-md-5">
        <p>
        <label class="col-md-2">Пароль</label>
        <input asp-for="@Model.Password" type="password" />
        <span style="color:red" asp-validation-for="Password"></span>
        </p>
    </div>

    <p>
        <button class="btn btn-primary" type="submit">Войти</button>
    </p>
</form>
</div>