
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" asp-action="AdminPanel" asp-controller="Auth">Города</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-action="Polyclinics" asp-controller="DataWorkerPoly">Поликлиники</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" asp-action="Doctors" asp-controller="DataWorkerDocs">Врачи</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" asp-action="Specializations" asp-controller="DataWorkerSpec">Специализации</a>
  </li>
</ul>