@model PolyViewModel


<div class="container">
<h1>Админ. панель > Поликлиники > Добавление поликлиники</h1>
<br /><br />


<a asp-action="Polyclinics" asp-controller="DataWorkerPoly">Вернуться ко списку поликлиник</a>
<br />

<form method="post" asp-action="AddPoly" asp-controller="DataWorkerPoly"  enctype="multipart/form-data">
    
        <label>Фото</label> <br />
        <input class="btn btn-secondary" type="file" asp-for="@Model.PhotoToUpload" />
        <br/><br />

        
        <div class="col-md-3">
    <p>
        <label >Название Поликлиники</label> <br />
        <input type="text" class="form-control" asp-for="@Model.Title" />
    </p>
        </div>
        <div class="col-md-3">
    <p>
        <label>Адрес</label>
        <input type="text" class="form-control" asp-for="@Model.Adress" />
    </p>
        </div>
        <div class="col-md-3">
    <p>
        <label>Телефон</label>
        <input type="text" class="form-control" asp-for="@Model.Phone" />
    </p>
        </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Сохранить" />
    </p>
</form>
</div>