@model AdminPanelViewModel


<h1>Админ. панель > Поликлиники > Добавление поликлиники</h1>
<br /><br />



<form method="post" asp-action="AddPoly" asp-controller="DataWorkerPoly"  enctype="multipart/form-data">
    
        <label>Фото</label> <br />
        <input type="file" asp-for="@Model.Photo" />
        <br/><br />

    <p>
        <label >Название Поликлиники</label> <br />
        
        <div class="col-md-3">
        <input type="text" class="form-control" asp-for="@Model.Polyclinics[0].Title" />
        </div>
    </p>
    <p>
        <label>Адрес</label>
        <div class="col-md-3">
        <input type="text" class="form-control" asp-for="@Model.Polyclinics[0].Adress" />
        </div>
    </p>
    <p>
        <label>Телефон</label>
        <div class="col-md-3">
        <input type="text" class="form-control" asp-for="@Model.Polyclinics[0].Phone" />
        </div>
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>