@model JWTAthorizeTesting.Entities.City


<div class="container-md">
<h1>Админ. панель > Города > Добавление города</h1>

<a asp-action="AdminPanel" asp-controller="Auth">Вернуться ко списку городов</a>
<br />
<form method="post" asp-action="AddCity" asp-controller="DataWorker">
    <div class="col-md-3">
        <label>Название города:</label> <br />
        <input type="text" class="form-control" asp-for="Title" /> 
        <span asp-validation-for="Title"></span><br /> <br />
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Добавить город" /></button>
    </div>
</form>
</div>